
.img-mozovirtual{
    background-image: url('../../../assets/img/mozovirtual.png');
    height: 110%;
    background-repeat: no-repeat;
}
.parallax{
    background-size: cover;
    background-attachment: fixed;
}
.material-icons {
    font-size: 100px;
}

@media (min-width: 550px) {
    .img-mozovirtual {
        height: 130%;
    }
    .parallax{
        background-size: 140%;
    }
}
@media (max-width: 550px) {
    .parallax{
        background-size: 140%;
    }
}

h1{
    font-size: 300%;
}

h2{
    font-size: 200%;
}

.transparencia{
    background-color: #222222;
    
}
.contenedor-mozo{
    background: rgba(0,0,0,0.6);
    color: white;
    height: 100%;
    max-width: 900px;
    margin: auto;
}
p{
    font-size: 1.2em;
}
.limite{
    max-height: 50%;
}