<div class="container sticky-top pt-4">

    <div class="alert alert-primary " role="alert">
        <h3 class="text-center" *ngIf="total; else sinPrecio">Seleccionaste <strong>{{cantidad}}</strong> {{cantidad == 1 ?'producto':'productos'}}, por un precio total de <strong>{{total | currency }}</strong> (US{{precioDolar | currency}})</h3>
        
    </div>
</div>
<div class="menu-card-container">


    <div class="card menu-card" style="width: 18rem;" *ngFor="let item of productos">
        <img src="{{item.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name[0].value }}</h5>
            <p class="card-text">{{item.price | currency}}</p>
            <a  (click)="pedir(item.price)" class="btn btn-primary d-block w-100">Pedir</a>
        </div>
    </div>
</div>

<ng-template #sinPrecio>
    <h3 class="text-center">Aún no has seleccionado ningún producto</h3>
</ng-template>