.spacer{
    flex: 1 1 auto;
}
.navbar {
  position: absolute;
  width: 100%;
  background: #4577d4;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  transition: padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index: 999;

}
.navbar > .container {
  height: auto;

}
.top-navbar a{
  text-decoration: none;
}
.navbartop-btn:hover .mat-button-focus-overlay {
  display: none;

}

.navbar:not(.navbar-fixed) .navbartop-btn .mat-button-ripple {
  top: -22px;
  bottom: -22px;
}

.navbar-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 !important;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  animation: .6s slideDown forwards;
}
.navbar-fixed .container {
  height: 60px !important;
}
.navbar-fixed .navbartop-btn {
  line-height: 60px !important;
}
.navbar-logo {
  display: flex;
  align-items: center;
  a {
    display: inherit;
  }
  #logo-menu{
    width: 100%;
    min-width: 4%;
    max-width: 60px;
    position: absolute;
  }
}

.navbar-toggle {
  display: none !important;
  position: absolute !important;
  right: 5px;
}
.icon-button {
  .mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 991px) {

  .navbar {
    padding: 0;
  }

  .navbar > .container {
      height: 60px;
      padding: 0;
  }
  .navbar-opened:host .navbar-mobile-top {
    padding: 13px 0;
  }
 .navbar-toggle {
      display: block !important;
  }
  .navbar-opened:host .container {
      height: auto !important;
      padding: 0px !important;
  }
  .navbar-logo {
      margin-left: 15px;
  }
  .top-navbar {
      display: none !important;
  }
  .navbar-opened:host {
      .top-navbar {
          display: block !important;
          width: 100% !important;
          height: auto;
          flex: none !important;
          color: #000;
          background: #f3f3f3;
      }
  }
  .navbar-opened:host .top-navbar a {
      display: block;
      width: 100%;
      line-height: 56px !important;
  }
}
