<!-- gran contenedor -->
<div class="container-fluid">
    
    <!--Imagen de fondo -->
    <div class="container-fluid img-home  parallax ">
        
        <div class="row text-center text-white d-flex  align-items-center">
            <div class="col-12 col-md-6 my-4">
                <img class="img-fluid" src="../../../assets/img/logo-transparente.png" alt="Logo Mozo Virtual">
            </div>
            <div class="col-12 col-md-6">
                <h1 class="display-1">MozoVirtual</h1>
            </div>
            
        </div>
        

        <div class="row text-center mx-auto mt-4">
            <div class="col-12">
                <mat-icon class="text-white" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
            </div>
            
        </div>
        
    </div>
    <!--Fin imagen de fondo -->

</div>
