

/*.img-home{
    background-image: url('../../../assets/img/img-home.png');
    height: 100vh;
    margin: 0;
    padding: 0;
}

.img-caracteristica{
    background-image: url('../../../assets/img/img-caracteristica.png');
    height: 100vh;
}

.parallax{
    background-size:cover;
    background-attachment: fixed;
}
.mat-icon {
    font-size: 50px;
}

h1{
    font-size: 100px;
}*/
