#contacto{
  height: 100vh;

}
ul{
    list-style: none;
    list-style-type: none;
}

.img-contacto{
    background-image: url('../../../assets/img/contacto.png');

}

.parallax{
    background-size:cover;
    background-attachment: fixed;
}
.mat-icon {
    font-size: 50px;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 200%;
}

.transparencia{
    background-color: #222222;
}

.logos-caracteristica{
    font-size: 125px;
}

.btn-primary{
    background-color: #3C91E6;
    margin-bottom: 25px;
}
.contenedor-mozo{
    background: rgba(0,0,0,0.6);
    color: white;
    height: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;

}
img{
    min-height: 150%;
    position: 500px 0px;
}
