ul{
    list-style: none;
    list-style-type: none;
}

.img-caracteristica{
    background-image: url('../../../assets/img/caracteristicas.png');
    height: 100vh;
    overflow: hidden;
}

.parallax{
    background-size:cover;
    background-attachment: fixed;
}
.mat-icon {
    font-size: 50px;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 4em;
}

.transparencia{
    background-color: #222222;
}

.logos-caracteristica{
    font-size: 125px;
}

.btn-primary{
    background-color: #3C91E6;
}