<!-- gran contenedor -->

<div class="container-fluid  img-caracteristica  parallax" id="caracteristicas">





            <!-- Contenedor semi oscuro -->
            <div class="container contenedor-mozo text-white">
                <div class="row text-center text-white d-flex  align-items-center">
                    <div class="col-12 mt-5">
                        <h1>Características</h1>
                    </div>
                </div>



                <div class="row text-center mx-auto mt-4">
                    <div class="col-6 flex-column">
                        <p><b>Plataforma</b> <br> <br>
                            Gestión de productos <br>
                            Gestión de mesas <br>
                            Estadísticas de ventas
                        </p>


                <div class="row  mx-auto mt-4">
                    <div class="col-6 text-center flex-column my-auto">
                        <p><b>Plataforma</b></p>

                            > Gestión de productos <br>
                            > Gestión de mesas <br>
                            > Estadísticas de ventas
                    </div>

                    <!-- Icono y boton -->

                    <div class="col-6 d-flex align-items flex-column">

                    <div class="col-6 d-flex flex-column my-auto">

                        <div class="container mb-4 mx-auto">
                            <mat-icon class="text-white logos-caracteristica" aria-hidden="false" aria-label="Example home icon">computer</mat-icon>
                        </div>


                        <div class="container d-flex my-auto">
                                <a class="btn btn-primary" href="#">Ingreso Web <!--<i class="material-icons">store</i>--></a>
                        </div>

                    </div>
                    <!-- fin Icono y boton -->

                </div>

                <!--fila 2-->

                <div class="row text-center mx-auto my-5">
                    <div class="col-6 flex-column">
                        <p><b>Aplicación</b> <br><br>
                            Menú Virtual <br>
                            Pedidos en tiempo real <br>
                            Pagos Online
                        </p>

                <div class="row mx-auto my-5">
                    <div class="col-6 text-center flex-column my-auto ">
                        <p><b>Aplicación</b></p>
                            Menú Virtual <br>
                            Pedidos en tiempo real <br>
                            Pagos Online
                    </div>

                    <!-- Icono y boton -->

                    <div class="col-6 d-flex align-items flex-column my-auto">

                    <div class="col-6 flex-column my-auto mx-auto">

                        <div class="container mb-4">
                            <mat-icon class="text-white logos-caracteristica" aria-hidden="false" aria-label="Example home icon">phone_android</mat-icon>
                        </div>


                        <div class="container  d-flex my-auto">
                            <a class="btn btn-primary" href="#">Obtener App <!--<span class="material-icons">
                                    shop
                                </span>--></a>
                        </div>

                    </div>
                    <!-- fin Icono y boton -->

                </div>
            </div>
            <!-- fin Contenedor semi oscuro -->


